<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.bibliotecasocial" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Biblioteca Social</name>
    <description>Catalogo para acessar a Biblioteca Social via API</description>
    <author email="filipeagt.92@gmail.com" href="https://bibliotecasocial.pythonanywhere.com">
        Filipe Augusto de Almeida
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/img/android-chrome-192x192.png" />
</widget>
